{
  "presets": [ "es2015", "stage-0" ],
  "plugins": [
    [ "transform-runtime" ],
    [ "transform-inline-environment-variables" ],
    [ "js-logger", { "format": { "project": false, "level": -1 } } ]
  ]
}
